<div class= "pagetitle">
<h1>Art Portfolio</h1><br>
</div>
<div class= "picmatting">
<div class= "photoheading">
<%= image_tag("FBCoverPhoto.jpg", alt: "Art Exhibit in the Artisanal Market of Masaya, Nicaragua 03/02/2018") %>
	 <div class= "picinfo">
	 <p><i>Art Exhibit in the Artisanal Market of Masaya, Nicaragua 03/02/2018</i></p>
	</div>
	</div>
</div>

<div class= "pagetext">
<br>
<p>My art is my therapy for making sense of the world and the emotions it evokes as well as the vehicle to which I pay homage to the things that most inspire me. Unfettered creativity and personal experiences are the lifeblood by which my surrealistic paintings are born.  Whether it is a painting that pays tribute to cultures that have touched me or a painting that sheds light on a social issue or personal hardship, I aim for my audience to sense the meaning of each conglomerated symbolism intermingling on my canvas.</p> 

<p>Though I had been a painter since childhood, my desire to be a successful International Affairs professional during academia shifted my mind away from its creative focus. My real artistic journey didn’t start to commence until 8 years later in 2017. It all started with a few surrealistic watercolors inspired by the flora and fauna of Nicaragua where I had spent the passed few years initiating capacity building projects under various NGOs. These two paintings (Nicaragua Selvatica Norte and Nicaragua Selvatica Sur) inspired me to paint a similar work for my native Florida (Florida Untamed) while meeting many musically inclined Nicaraguan Medical Doctors inspired me to paint Dr. Cardio-Virtuoso.</p> 

<p>Other pieces have delved deeper into the human psyche aiming to visually interpret conceptualized emotions such as love, anxiety, and fear of failure. <q>The Love Dance</q> painting and poem illustrates my perception of the meaning of love and what that might look like if it bloomed from our bodies. <q>Entrepreneur’s Dillema</q>, <q>The Storm Within</q>, and <q>You’re Late, Alice!</q> shows the feelings of career-related anxiety and societal pressures construed by a swarm of ticking clocks descending into water, staircases spiraling downward, a volcanic eruption, and a roaring storm.</p>

<p>Each work stems from a specific inspiration retold in a surrealistic style. I hope my painting’s genuine nature helps my audience connect with their meanings on a human level as their whimsical aesthetic serves as a conversation starter.</p> 

<p>Follow me on Facebook <a href="https://www.facebook.com/danalterryartist/"target="blank">
@dlterryartist</a><br/></p>
<p>Follow Vagos on Facebook <a href="https://www.facebook.com/vagosjourney/"target="blank">
@vagosjourney</a></p>
<p>Interested in purchasing a copy of my work or a T-shirt from my brand? Email me at <a href= "mailto:vagosjourney@gmail.com"target="blank">
 vagosjourney@gmail.com</a></p>
<br/>
<br/>
<h2>2017 - 2018 Watercolor Paintings</h2>
<p><i>Watermarks digitally added to painting scans for Intellectual Property Protection. Dana L. Terry owns the full rights to these images and
any unauthorized use will be prosecuted.</i></p>

<div class= "container-vertical">
  <div class= "two-by-two-vertical">

				<h3>Nicaragua Selvatica North'17</h3>
			<hr>
			<%= image_tag("NicaN.jpg", alt: "Nicaragua Selvatica North'17", class: 'vertical')%>
  </div>
  <div class= "two-by-two-vertical">
				<h3>Nicaragua Selvatica South'17</h3>
			<hr>
			<%= image_tag("NicaS.jpg", alt: "Nicaragua Selvatica South'17", class: "vertical")%>
		</div>
		</div>
	
	<br>
	<br>
	<div class= "container-vertical">
			<div class= "two-by-two-vertical">
				<h3>Florida Untamed '17</h3>
			<hr>
			<%= image_tag("Florida.jpg", alt: "Florida Untamed '17", class: "vertical")%>
	</div>
	<div class= "two-by-two-vertical">
				<h3>Dr. Cardio-Virtuoso '17</h3>
			<hr>
			<%= image_tag("DrCV.jpg", alt: "Dr. Cardio-Virtuoso '17", class: "vertical")%>
	</div>
	</div>
	
	<br>
	<br>
	<div class= "container-vertical">
			<div class= "two-by-two-vertical">
				<h3>The Love Dance '17</h3>
			<hr>
			<%= image_tag("Love.jpg", alt: "The Love Dance '17", class: "vertical")%>
		</div>
		<br>

		<div class= "two-by-two-vertical">
				<h3>The Love Dance</h3>
				<hr>
				<i>Artist and Poet: Dana L. Terry</i>
				<br>
				<br>
				<div class= "poem">
				<q>You are the rhythm of my heart
					<br> My ultimate dance partner
					<br> You are the gardner of my soul
					<br> Watering my seeds within
					<br> Our dance flows with real love
					<br> Our dance flows with true passion
					<br> The dance we dance is a constant embrace
					<br> of acceptance, admiration, and inspiration
					<br> Our dance creates the life water
					<br> that inspires our Gardens to folurish within.</q>
		         </div>		
				</div>
	</div>
	<br>
	<br>
	
	<div class= "container-vertical">
			<div class= "two-by-two-vertical">
				<h3>The Dance of Civilizations '17</h3>
			<hr>
			<%= image_tag("DanceCiv.jpg", alt: "The Dance of Civilizations '17", class: 'vertical')%>
		</div>
		<div class= "two-by-two-vertical">
			<div class= "titleFCYD">
				<h3>Fiercely Chase Your Dreams '17</h3>
			</div>
			<%= image_tag("Dreams.jpg", alt: "Fiercely Chase Your Dreams '17", class: 'vertical_FCYD')%>
		</div>
	</div>
<br>
<br>
	<div class= "container-horizontal">
			<div class= "two-by-two-horizontal">
				<h3>A Force To Be Reckoned '17</h3>
            <hr>
			<%= image_tag("AForce.jpg", alt: "A Force To Be Reckoned '17", class: 'horizontal')%>
			</div>
		<br>
		<div class= "two-by-two-horizontal">
				<h3>A Force To Be Reckoned</h3>
				<br>
				<i>Artist and Poet: Dana L. Terry</i>
				<br>
				<br>
				<div class= "poem">
				<q>For we are more than our face value,
					<br> Our mind are bastions
					<br> of endless intrigue,
					<br> unfettered justice,
					<br> and boundless creativity
					<br> yearning to break free.</q>
				</div>
	  </div>
</div>	
<br>
<br>
<div class= "container-horizontal">
		<div class= "one-by-one-horizontal">
		
			<h3>Entrepreneur's Dillema '17</h3>
		<%= image_tag("Eye.jpg", alt: "Entrepreneur's Dillema '17", class: 'horizontal')%>
		</div>
</div>
<br>
<br>
<div class= "container-horizontal">
		<div class= "one-by-one-horizontal">
			<h3>The Storm Within '18</h3>
		<%= image_tag("Storm.jpg", alt: "The Storm Within '18", class: 'horizontal')%> 
		</div>
	</div>
<br>
<br>
	<div class= "container-horizontal">
			<div class= "one-by-one-horizontal">
				<h3>You're Late, Alice! '18</h3>
			<%= image_tag("Late.jpg", alt: "You're Late, Alice!'18", class: 'horizontal')%>
			</div>
</div>
<br>
<br>
<div class= "container-horizontal">
	<div class= "one-by-one-horizontal">
	     <h3>Feminist Visions '18</h3>
			<%= image_tag("Fem.jpg", alt: "Feminist Visions '18", class: 'horizontal')%>
	</div>
</div>
	<br>
	<br>
<div class= "container-horizontal">
		<div class= "one-by-one-horizontal">
					<h3>A Traditional Marimba Dance' 18</h3>
			<%= image_tag("Marimba.jpg", alt: "A Traditional Marimba Dance called Baile de Las Negras '18", class: 'horizontal')%>
		</div>
		</div>
<br>
<br>
		<div class= "container-horizontal">
		<div class= "one-by-one-horizontal">
				<h3>Street Performers '18</h3>
			<%= image_tag("Artists.jpg", alt: "Street Performers '18", class: 'horizontal')%>
		</div>
	</div>
<br>
<br>
	<div class= "container-horizontal">
			<div class= "one-by-one-horizontal">
			<h3>Atlas Wept '17</h3>
		<%= image_tag("AtlasWept.jpg", alt: "Atlas Wept '17", class: 'horizontal')%>
			</div>
		</div>
<br>
<br>
<br>
<br>
<div class="copyright">
    <p>Copyright  Dana L. Terry. All rights reserved.</p>
  </div>
</div>
