<div class= "pagetitle">
<h1>Logos | UIs | Web-Apps</h1><br>
<p><i>Notice of Intellectual Property Protection: Dana L. Terry owns the full rights to these images and files. 
  Any unauthorized use will be prosecuted.</i></p>
</div>
<br>
<br/>

<div class= "techpagetext">
<%= image_tag("SCLogo.svg", alt: "Synaptic Communities Logo", class: 'SCLogo') %>
<br>
<%= image_tag("SCShort.svg", alt: "Synaptic Communities Short Logo", class: 'SCShort')%>
	 
	 <br>
     
<%= image_tag("SNLogo.svg", alt: "Startup Nation Logo", class: 'SNLogo')%>
<br>
<%= image_tag("Innovate.svg", alt: "Innovate Nicaragua Logo1", class: 'Innovate')%>
<br>
<br>
<br>
<%= image_tag("Innovate2.svg", alt: "Innovate Nicaragua Logo2", class: 'Innovate2')%>
<br>
<br>


<p><b><%= link_to "Synaptic Communities Web-App Design UI", asset_path("SCMockup.pdf"), target: "_blank" %></b></p>
	 
<p><b><%= link_to "Startup Nation App Presentation", asset_path("StartupNation_AppPresentation.pdf"), target: "_blank" %></b></p>

<p><b><%= link_to "App Wireframes Example", asset_path("Example_Wireframes.pdf"), target: "_blank" %></b></p>


<br>
<br>
<div class="copyright">
    <p>Copyright  Dana L. Terry. All rights reserved.</p>
  </div>